[2019-07-25 06:52] splincode opened #1 "[WIP]: API"
# NGXS Data Persistence API

## Features implemented

- [ ] Auto providing in NGXS Root/Feature Module
- [ ] Entity manager
- [ ] Query selector (alternative in JPA)
- [ ] Persistence state on IndexDB, LocalStorage, SessionStorage

### NGXS States problems

- Boilerplate problem (we have to describe a lot of actions)

[code]

- Simple example is very heavy

### 1) Using Only Dependency Injection

[2019-09-13 19:13] #1 closed

[2019-09-13 19:14] splincode opened #4 "Cannot read property 'find' of undefined"
Problem with UMD modules (Éµn as StateFactory)

![image](https://user-images.githubusercontent.com/12021443/64888521-e7cbff80-d673-11e9-9481-894485f0e1b6.png)

![image](https://user-images.githubusercontent.com/12021443/64888461-c23ef600-d673-11e9-8fc3-63f3d7ead6cf.png)

[2019-09-14 07:29] kunjee17 opened #5 "NPM is showing wrong read me for me."
I have actually no I idea how NPM  read me work. But as of now it is showing wrong read me. And also there is github link one can follow. It would be great to have updated readme on npm page.

**https://www.npmjs.com/package/@ngxs-labs/data**

[2019-09-23 09:28] #5 closed

[2019-09-24 10:28] splincode commented on #4
workaround

![image](https://user-images.githubusercontent.com/12021443/65504224-32991300-decf-11e9-9650-f3045e2d8611.png)

[2019-09-24 11:17] splincode opened #20 "Check before add decorator before State"
Correct

![image](https://user-images.githubusercontent.com/12021443/65507145-ef8e6e00-ded5-11e9-8ad5-9fb89a0c20ac.png)

Incorrect

![image](https://user-images.githubusercontent.com/12021443/65507165-fe752080-ded5-11e9-9050-eb7678498312.png)

[2019-09-24 12:20] st-clair-clarke opened #21 "Initialization of NgxsDataPluginModule in a non-app module"
Hi, in your example, to register the NgxsDataPluginModule in the app module the following is used:

[code]

How do I accomplish same in a non-app module - there is no NgxsDataPluginModule.forChild() or NgxsDataPluginModule.forFeature() (as is present in NgxsModule.forFeature())

[2019-09-24 13:07] st-clair-clarke commented on #21
Thanks for your prompt reply. My data is substantial. If I do this in app.module, it will cause unacceptable bloating.

Any idea how far is the future?

[2019-09-24 13:25] splincode commented on #21
Maybe add `NgxsDataPluginModule.forRoot({ factory: StateFactory, context: StateContextFactory })` to SharedModule?

[2019-09-25 12:49] #20 closed

[2019-09-27 10:46] st-clair-clarke opened #25 "Problem returning from action with an explicit tysecript class as an explicit payload"
Hi, I am trying to follow the example at [https://github.com/ngxs-labs/data](https://github.com/ngxs-labs/data). However, I am using an explicit typescript class as a payload, and having difficulties in what to return from the action. I would like your help in what should be return in the addAddress and updateAddress actions

[code]

[2019-09-27 10:47] splincode commented on #25
Please add stackblitz

[2019-09-27 10:49] splincode commented on #25
what do you mean?

[2019-09-27 10:51] st-clair-clarke commented on #25
Instead of using

{
  dirty?: boolean = false
  model?: any = undefined
}

I use instead:
export class FormState {
  dirty?: boolean = false
  model?: any = undefined
}

[2019-09-27 10:54] splincode commented on #25
Okay, what exactly is the problem?

[2019-09-27 10:55] splincode commented on #25
addAddress, updatedAddress
These are the usual methods, you can return anything

[2019-09-27 10:59] st-clair-clarke commented on #25
Given the addAddress and updateAddress methods above, how do I set and update the address property of the RegistrationStateModel and print that to the console. Yes they are usual methods but I am doing something wrong.

[2019-09-27 11:01] st-clair-clarke commented on #25
The problem is that the => address: property in addAddress CANNOT BE FOUND.

[2019-09-27 11:19] splincode commented on #25
[code]

[code]

[2019-09-27 11:43] st-clair-clarke commented on #25
I am getting IDE generated errors from your example. Did it actually work for you? See error in graphic. Thanks

![erors](https://user-images.githubusercontent.com/3227590/65766975-5764d480-e0e1-11e9-993d-aeea0e999c69.png)

[2019-09-27 11:44] splincode commented on #25
I would like to see stackblitz example

[2019-09-27 11:46] st-clair-clarke commented on #25
Will set it up. Thanks

[2019-09-27 22:51] st-clair-clarke commented on #25
See [https://angular-7zt9gq.stackblitz.io](https://angular-7zt9gq.stackblitz.io)

[2019-09-28 12:49] st-clair-clarke commented on #25
The stackblitz example is not printing the store's state correctly to the console when the app is run.

[2019-09-28 19:59] splincode commented on #25
@st-clair-clarke can you explain what is wrong?

![image](https://user-images.githubusercontent.com/12021443/65821824-85fac080-e243-11e9-89b2-5d832ff25916.png)

https://stackblitz.com/edit/angular-7zt9gq

According to what you do in the code, everything works as it should

[2019-09-28 20:05] splincode commented on #25
The only thing I do not recommend using is

[code]

It is necessary to use the concept of POJO. POJO stands for Plain Old Java Object. It is an ordinary object, not bound by any special restriction other than those forced by the Language Specification and not requiring any class path. POJOs are used for increasing the readability and re-usability of a program.

![image](https://user-images.githubu

[2019-09-28 20:07] splincode commented on #25
also you can simplify

![image](https://user-images.githubusercontent.com/12021443/65821926-bd1da180-e244-11e9-939d-a68b48e0f757.png)

[2019-09-28 22:43] st-clair-clarke commented on #25
@splincode

![image](https://user-images.githubusercontent.com/3227590/65823199-b1ab8580-e206-11e9-977d-3f1e6ed0b021.png)

[2019-12-12 07:09] splincode opened #82 "Support NGXS 3.6"

[2019-12-15 19:38] splincode opened #86 "Add NgxsEntityRepository"

[2019-12-16 08:24] #4 closed

[2019-12-16 08:24] #21 closed

[2019-12-16 08:25] #25 closed

[2019-12-16 08:25] #82 closed

[2019-12-17 22:17] splincode opened #87 "Add storage plugin"

[2019-12-18 22:07] #87 closed

[2019-12-21 09:08] ishanuda opened #95 "Error with typescript v3.5.3 when compiling ngxs-labs/data v2.1.3"
Error with typescript v3.5.3 when compiling

![error](https://user-images.githubusercontent.com/8893919/71305801-dcb90600-23fe-11ea-99b5-2a616674810d.jpg)

Dependencies in the project
![ng-error](https://user-images.githubusercontent.com/8893919/71305847-594be480-23ff-11ea-9094-e9a027d61316.jpg)

NOTE: I tried to update the typescript to v3.7.4 but after that, I get the angular compiler error as a

[2019-12-21 10:44] splincode commented on #95
@ishanuda please create minimal repo for reproduce

[2019-12-21 11:41] splincode commented on #95
@ishanuda try version `2.1.4`

[2019-12-21 13:35] splincode opened #97 "Support deserializer/serializer interceptors"

[2019-12-21 14:28] splincode opened #98 "Bug with reset deep child states"

[2019-12-21 15:09] #95 closed

[2019-12-23 10:21] splincode opened #102 "BIG BUG: Problem with synchronization"
![image](https://user-images.githubusercontent.com/12021443/71352316-0bfa7f00-2587-11ea-9760-d656be2bb707.png)

[2019-12-23 19:37] splincode opened #104 "Add docs"

[2019-12-23 22:09] #102 closed

[2019-12-24 08:04] splincode opened #109 "Tap call twice when returning Observable"

[2019-12-24 22:45] #109 closed

[2019-12-26 09:30] splincode opened #112 "Breaking changes: typing issue"
![image](https://user-images.githubusercontent.com/12021443/71469844-76a3f880-27db-11ea-9041-8803e8d7b098.png)

[2019-12-26 14:41] #112 closed

[2020-01-02 21:48] #98 closed

[2020-01-07 06:55] YogliB opened #126 "It's not clear how Selectors come to play here"
Is there a suggested way of selecting a slice of the state?

[2020-01-07 07:40] splincode commented on #126
Slice
values$ = this.state$.pipe(map((state) => state.val));

Or you can use full slice
this.state$

[2020-01-07 07:41] #126 closed

[2020-01-07 09:30] YogliB opened #127 "Working with DeepImmutable... objects"
What's the right/most simple way to work with these objects?

Everything I select from my state is wrapped by them, and it really making hard working with my regular types/models.

[2020-01-07 10:51] splincode commented on #127
This is necessary so that you do not mutate the state

[2020-01-07 11:07] splincode commented on #127
@YogliB But if you really need

![image](https://user-images.githubusercontent.com/12021443/71891148-012f1500-3157-11ea-8619-6b92328e7507.png)

[2020-01-07 11:47] splincode commented on #127
@YogliB

#### What are the benefits Immutable<T>?

[code]

Thus, the developer will not be able to make his own mistake. If he will mutate the state directly or use mutational methods.

[2020-01-07 12:28] YogliB commented on #127
Thanks for the detailed explanation!

[2020-01-07 12:28] #127 closed

[2020-01-07 13:33] splincode commented on #127
@YogliB  If you need to use states for set input property:

[code]

or since 2.3.0

[code]

[2020-01-07 15:03] splincode opened #129 "Add computed fields (snapshot, observables)"

[2020-01-15 06:20] YogliB opened #142 "ERROR in The pipe 'mutable' could not be found"
`"@ngxs-labs/data": "2.4.1",`

[code]

* I have the `NgxsDataPluginModule` imported in my Store module.

What am I missing?

[2020-01-15 06:34] splincode commented on #142
hmmm, I forgot any else?

https://github.com/ngxs-labs/data/blob/master/src/lib/ngxs-data.module.ts#L10

[2020-01-23 12:34] splincode opened #153 "ngxsDataOnDestroy()"

[2020-01-28 00:42] miguelramos opened #158 "How to use it in resolver?"
I'm not able to set state in a resolver. Any tips to how to do it? Current i have the following code:

Service:

[code]
State:

[code]

Then in resolver:

[code]

But checking redux tools there is no diff in the state:

![image](https://user-images.githubusercontent.com/495720/73225907-2ca98c00-4166-11ea-8655-de9bfcf73c76.png)

I'm only able if i explicity .subscribe() the observable, but with tha

[2020-01-28 06:19] splincode commented on #158
Very strange, maybe it is bug. Create stackblitz example for me and and then I can quickly investigate the problem

[2020-01-28 22:00] miguelramos commented on #158
@splincode thanks for your quick answer, and i will create a stackblitz to replicate the issue. Meanwhile i will try to debug and see i can get more info to give you.

[2020-01-28 23:00] miguelramos commented on #158
@splincode here is the link for the stackblitz: https://stackblitz.com/edit/angular-pvbx97

[2020-01-29 05:18] splincode commented on #158
thank you!

[2020-01-31 13:08] splincode opened #160 "TypeError: Cannot convert undefined or null to object"
TypeError: Cannot convert undefined or null to object

[2020-02-12 10:05] ishanuda opened #172 "Argument of type is not assignable to parameter of type error with store operator updateItem"
Hi,
I am getting the following error when using the operator `updateItem`
with data-plugin "@ngxs-labs/data": "^2.4.1" and above,

![data-plugin-error](https://user-images.githubusercontent.com/8893919/74323801-16c5d900-4dac-11ea-9a68-4dd37a6a2fef.jpg)

[Example @ stackblitz:](https://stackblitz.com/edit/angular-mj2r4s?file=src%2Fapp%2Fstore%2Ftodo%2Ftodo.state.ts)

I don't know if this problem co

[2020-02-13 10:33] jmbe commented on #172
As far as I can tell `StateOperator<T> = (existing: Readonly<T>) => T` is not supported at at all, so I'm guessing the origins of ngxs-labs/data predates state operators? It would be awesome to see support, and would also help migrating existing code which already uses state operators. I'm using immer as a substitute in the mean time, but of course state operators would be more in line with regula

[2020-02-17 07:10] splincode opened #179 "Not supported NGXS 3.6.2"

[2020-02-17 07:12] #153 closed

[2020-02-17 12:25] splincode opened #180 "feat: snapshot"

[2020-02-22 16:17] splincode commented on #172
Works for me

[code]

[2020-03-09 15:36] splincode opened #231 "ngxsDataAfterReset()"

[2020-03-09 21:00] splincode opened #233 "Invalid inheritance"

[2020-03-12 13:40] splincode commented on #158
@miguelramos Sorry, I was able to get to study the problem just now, and actually

There really is a big difference between `this.ctx.setState` and `this.setState`.

in devtool you will see a state change only when the action is called

`this.setState` - is action
`this.ctx.setState` - directly change state without calling an action

[code]

![image](https://user-images.githubusercontent.com/12021

[2020-03-13 19:27] miguelramos commented on #158
@splincode thanks for the input, and yes changing ctx.setState to setState it works as expected, but this should be documented to know the diferences between it.

[2020-03-13 19:40] splincode commented on #158
https://github.com/ngxs-labs/data/blob/master/docs/pages/action.md#what-difference-between-thisctxsetstate-and-thissetstate

[2020-03-14 08:14] splincode opened #252 "NgxsDataRepository vs NgxsDataImmutableRepository"

[2020-03-17 20:15] splincode opened #259 "Add Ivy integration test"

[2020-03-20 20:47] splincode opened #268 "Error: Uncaught (in promise): Error: Class extends value undefined is not a constructor or null"
https://stackblitz.com/edit/ngxs-labs-data-9cnqqr?file=undefined

[2020-03-20 21:19] splincode opened #269 "preview-2e4d276ba818b5932108b.js:1 ERROR Error: Uncaught (in promise): TypeError: Class constructor TodoState cannot be invoked without 'new' TypeError: Class constructor TodoState cannot be invoked without 'new'"

[2020-03-23 14:00] gtamas commented on #268
@splincode
Guys, I'm planing to use this in one of my upcoming projects,  but I can see it's not production ready yet. About when can we expect the first prod release?

Could there be a prod release in the next 3 months?

[2020-03-23 19:20] splincode commented on #268
@gtamas So far, the release candidate, but you can try to use it already!

[2020-03-23 19:21] splincode opened #276 "v3.0.0"

[2020-03-23 19:21] #276 closed

[2020-03-23 20:36] #233 closed

[2020-03-23 20:36] #252 closed

[2020-03-23 20:36] #269 closed

[2020-03-23 20:37] #158 closed

[2020-03-23 20:37] #160 closed

[2020-03-23 20:37] #142 closed

[2020-03-23 20:37] #104 closed

[2020-03-23 20:37] #180 closed

[2020-03-23 20:37] #179 closed

[2020-03-23 20:38] #172 closed

[2020-03-23 20:38] #268 closed

[2020-03-23 20:39] splincode commented on #268
https://github.com/ngxs-labs/data/milestone/1
![image](https://user-images.githubusercontent.com/12021443/77360994-7c1fc900-6d5f-11ea-9792-8737fb4123ad.png)

[2020-03-24 14:51] gtamas opened #278 "IE Support?"
Guys, do you have any plans to add support for IE11 (at least)?

I would love to use this in my project, but we have to support IE (unfortunately). Will IE 10 / 11 ever be supported?

Also, do you have a roadmap for this lib? About when can we expect it to be prod ready? The labs page says it's "stable".

[2020-03-24 15:28] splincode commented on #278
1. If you need IE, you must add proxy class polyfill for your project

https://github.com/GoogleChrome/proxy-polyfill

2. About roadmap
what do you mean? we have milestone in repo

[2020-03-25 15:09] gtamas commented on #278
@splincode
Thanks for the IE info, great news!

Roadmap: I can see there is a 3.0 milestone, but in the meantime, the description of the project still says "not production ready yet". So I just want to know how far is "3.0" from "prod ready"?

In your estimation, will you reach prod ready status anytime soon?

[2020-03-25 16:24] splincode commented on #278
"not production ready yet" - fixed, it's ready

`Like in 1-2 months` - true

[code]

up to you

[2020-03-25 18:09] #278 closed

[2020-03-25 18:09] gtamas commented on #278
ok thx

[2020-03-25 20:20] splincode opened #279 "@computed not working with Observable"

[2020-03-30 16:23] splincode opened #299 "Support async storage for persistence decorator"

[2020-03-30 16:24] splincode opened #300 "Memory leak with @Computed fields"

[2020-03-31 10:23] splincode opened #305 "Need deep copy when reset state (for reset selectors)"

[2020-04-02 17:44] splincode opened #307 "Dynamic TTL"
- `how to set the time dynamically? or is it possible?`
- `Is there any event to listen for the time expiration so that we can refresh the data?`

[2020-04-05 17:19] #300 closed

[2020-04-05 17:19] #279 closed

[2020-04-05 17:20] #129 closed

[2020-04-05 21:30] splincode opened #316 "Testing module"

[2020-04-08 22:14] #305 closed

[2020-04-08 22:14] #231 closed

[2020-04-08 22:14] #316 closed

[2020-04-11 21:36] splincode commented on #86
Adapter Collection Methods
The entity adapter also provides methods for operations against an entity. These methods can change one to many records at a time. Each method returns the newly modified state if changes were made and the same state if no changes were made.

addOne: Add one entity to the collection
addMany: Add multiple entities to the collection
addAll: Replace current collection with p

[2020-04-12 07:47] ceyhunn commented on #86
Hi @splincode , if you add this one, I will really get pleasant, because I am backend developer. I use repository classes in Java. When will this feature be ready approximately?

[2020-04-12 07:49] ceyhunn commented on #86
I like entity data plugin, but it isn't production ready yet, is it?

[2020-04-12 09:42] splincode commented on #86
I'm Java/Kotlin developer too

@ceyhunn If you have ideas on the entity adapter, then I am ready to hear your ideas

[2020-04-12 21:08] splincode opened #324 "Add computed strategy (OnPush, Default)"

[2020-04-13 10:19] splincode opened #326 "JWT Auth integration"

[2020-04-15 09:37] splincode opened #329 "Autoremove keys from storage"

[2020-04-15 18:28] splincode commented on #86
@ceyhunn Hi, I released `@ngxs-labs/data@3.0.0-rc.10`

You can try new API for manipulation entities

![image](https://user-images.githubusercontent.com/12021443/79374225-dcb9b480-7f5f-11ea-9290-d668e23480d0.png)

PS: I would be glad if you tested the new API and helped find any bugs or suggest improvements on entity manipulation

[2020-04-15 19:55] ceyhunn commented on #86
Hi @splincode , Thank you so much. Why you don't add selectById, selectAll...? I mean selectors. Is it not possible?

[2020-04-15 20:54] splincode commented on #86
show me example

[2020-04-15 21:31] xban1x commented on #86
I think he is talking basically about common read Actions like you have in TypeORM where you can use `find` and `findOne`

[2020-04-16 07:20] ceyhunn commented on #86
You know jpa repositories in Java web. Similar to this.

[2020-04-16 08:33] splincode commented on #86
I don't love JPA, I use JDBC every where, because JPA is bad wat

[2020-04-16 08:34] splincode commented on #86
So, I understand you `selectOne, selectAll`. I will add later

[2020-04-16 10:24] ceyhunn commented on #86
@splincode , how do I add custom properties to EntityCollection?
for example:
{
     ids: K[],
     entities: T[],
     filter: any,
     count: number,
     pageIndex: number,
     pageSize: number
}
Using another state?

[2020-04-16 11:43] splincode commented on #86
I would not really like it to be added like this

what is it for? this will complicate the interaction with the state

[code]

You can try

[code]

[code]

[2020-04-16 12:23] ceyhunn commented on #86
I used another state for filter, sort and page parameters. Purpose is that for this parameters to get data from api service, then set response data in entity collection state.

[2020-04-16 20:35] xban1x commented on #86
You should create separate state for pagination, sort, filters and have them communicate with the repository part which executes requests to server

[2020-04-16 20:46] ceyhunn commented on #86
Yes, I have already done it, thank you for all suggestions.

[2020-04-18 15:00] splincode commented on #86
@ceyhunn Please can you give an example of how you use these fields with entities

[code]

[code]

[2020-04-18 16:50] ceyhunn commented on #86
@splincode , I don't understand your code. I did like this:
1. I have two states:
[code]

[2020-04-18 18:56] splincode commented on #86
how do you synchronizing LessonState and LessonEntitiesState?

[2020-04-24 14:01] splincode opened #348 "Should be strict equals when trigger NEED_SYNC_WITH_STORAGE"
![image](https://user-images.githubusercontent.com/12021443/80220902-32234f00-864d-11ea-9488-841bfbb4c99d.png)

[2020-04-26 18:12] splincode opened #353 "Support ttl"

[2020-04-26 18:24] #86 closed

[2020-04-26 21:23] splincode opened #356 "Support migrate from version to version in storage plugin"

[2020-04-29 14:45] bitflut opened #360 "Better support for extending NgxsDataEntityCollectionsRepository"
We recently switched from _ngrx_ to _nxgs_ with an app that heavily used _ngrx/data_. Right now we are trying to automate crud operations with our api in a similar way we did with _ngrx/data_. The route we've chosen is to **extend NgxsDataEntityCollectionsRepository** to include `getAll` `getOne` etc. for now.

Just to share what we are experiencing so far: If we are adding custom fields to the Ng

[2020-04-29 14:54] splincode commented on #360
Give examples of expected behavior so that I can implement this

[2020-04-29 15:24] bitflut commented on #360
I will put together a minimal example of what we're trying to achieve later today.

[2020-04-29 15:41] bitflut commented on #360
Let's say we wanted additional properties in our EntityCollectionsReducer like `loading` and `loaded`:

[code]

In order to get this working, there would be a few things we need to adjust. The most important is a new class type generic:

[code]
Then we could simply use this in our Collection:
[code]

There might be another caveat... for all the operations used in NgxsDataEntityCollectionsRepositor

[2020-04-29 17:43] splincode commented on #360
I understand you, yes, I think no problem will add this soon

[2020-04-30 21:24] splincode commented on #360
[code]
move to Entity.md

[2020-04-30 22:04] #360 closed

[2020-05-01 10:43] #348 closed

[2020-05-01 10:44] splincode commented on #360
released in `v3.0.0-rc.14`

[2020-05-02 20:24] splincode opened #378 "DataAction run inside angular zone"

[2020-05-02 23:25] #353 closed

[2020-05-02 23:25] #307 closed

[2020-05-03 14:19] splincode opened #381 "Add ngxsDataAfterStorageEvent"

[2020-05-03 21:51] #356 closed

[2020-05-04 11:03] splincode opened #384 "Hide angular enable prod mode"

[2020-05-04 13:02] #384 closed

[2020-05-04 13:52] #378 closed

[2020-05-04 16:21] #381 closed

[2020-05-04 18:02] splincode opened #388 "Encode/Decode"

[2020-05-04 21:55] #388 closed

[2020-05-04 21:56] #329 closed

[2020-05-05 16:40] splincode opened #391 "Function expressions are not supported in decorators"
[code]

[2020-05-05 18:06] #391 closed

[2020-05-05 18:07] splincode opened #393 "NgxsDataLocalRepository"

[2020-05-05 18:37] splincode opened #394 "v3.1.0 Roadmap"

[2020-05-08 16:14] splincode opened #402 "Incorrect memoized Computed fields when HMR reload"

[2020-05-09 08:30] #402 closed

[2020-05-10 11:49] splincode opened #405 "UseState decorator"
![image](https://user-images.githubusercontent.com/12021443/81498409-7c533400-92cd-11ea-9533-b1e5298b0004.png)

[2020-05-11 12:25] splincode opened #406 "Schematics"
- [x] `ng add @ngxs-labs/data`
- [ ] `ng generate @ngxs-labs/data:repository --data`
- [ ] `ng generate @ngxs-labs/data:repository --entity`
- [ ] `ng generate @ngxs-labs/data:repository --immutable`
- [ ] `ng generate @ngxs-labs/data:spec`
- [ ] `ng .. help`

[2020-05-15 17:44] SteveLemire opened #420 "Proxy is a ES2015 class that is not compatible with IE11 with ES5 target"
Hi,

I would like to use the package [ngxs-lab data](https://github.com/ngxs-labs/data) in my Angular 9 application but I have an issue to make it run with IE11 and ES5 target compatibility event if the readme say that the IE browser (IE + polyfills) is compatible.

![image](https://user-images.githubusercontent.com/18408683/82079569-0e35b500-96b1-11ea-997d-57bb496887a6.png)

When running the appl

[2020-05-19 19:45] SteveLemire commented on #299
I was able to manage our own storage service that provides functionality to support async storage with the help of [StorageMap ](https://www.npmjs.com/package/@ngx-pwa/local-storage) library that use _IndexedDb_ and [AsyncStorageEngine](https://github.com/ngxs-labs/async-storage-plugin).

1. Install [StorageMap ](https://www.npmjs.com/package/@ngx-pwa/local-storage).

2. Install [AsyncStorageEngin

[2020-05-19 19:57] splincode commented on #299
Ohh, great))  you are awesome

What do you think about
that is, we could develop adapters in this plugin, with good support

[code]

instead NgxsAsyncStoragePluginModule

[2020-05-21 13:28] ishanuda opened #427 "ng v9.1.7 does not update local/session storage"
Hi,
I updated the angular to v9.1.7 and the data library to v3.0.5.
Now the library does not update the values in local/ session storage.

[Minimal repo](https://github.com/ishanuda/ngxs-data-issue-mr-1)
NOTE: repo URL changed

Thank you very much.

[2020-05-22 09:44] ishanuda opened #430 "Warning: Entry point '@ngxs-labs/data' contains deep imports"
Hi,
I am getting the following warning when trying to compile the project

Warning: Entry point '@ngxs-labs/data' contains deep imports into '../node_modules/@ngxs/store/src/internal/internals'.
This is probably not a problem but may cause the compilation of entry points to be out of order.

Configurations:

"typescript": "~3.7.5"
"@angular/cli": "^9.1.7",
"@angular/core": "^9.1.9",
"@ngxs/store":

[2020-05-22 10:44] splincode commented on #430
Create github repo also for reproduce, please

[2020-05-26 05:14] ishanuda commented on #430
Hi,
Repo created.
[Repo](https://github.com/ishanuda/ngxs-data-issue-mr-2)
Thank you

[2020-05-29 13:45] #394 closed

[2020-05-31 13:26] YogliB commented on #427
any idea what's causing this?

[2020-06-06 17:57] #259 closed

[2020-06-06 18:05] splincode commented on #405
[code]

when use metadata

[code]

[2020-06-06 21:21] splincode commented on #430
fixed: https://github.com/ngxs-labs/data/pull/454

[2020-06-06 21:22] splincode commented on #420
Sorry, most likely this will not be considered a bug, since we no longer support Internet Explorer

![image](https://user-images.githubusercontent.com/12021443/83954786-e4595380-a854-11ea-9df2-59b08fafb763.png)

[2020-06-07 10:39] splincode commented on #427
@ishanuda @YogliB https://github.com/angular/angular/issues/37476

this is bug Angular I think

[2020-06-07 12:13] splincode commented on #427
Workaround disable Ivy before fixed

[code]

[2020-06-08 05:10] ishanuda commented on #430
HI,
Thank you very much for the fix.

Is this fix available in V2.x.x as well?

Shall I delete the min repo created for the test?

Regards

[2020-06-08 05:40] ishanuda commented on #427
Hi,
Thank you for your support.
Will look in to forward till the but is fixed in the NG
Regards

[2020-06-08 06:58] splincode commented on #430
Sorry only v3 fix, but isn’t a problem for Angular 8

[2020-06-08 16:02] ishanuda commented on #430
Hi,
Is this update available to test with NG v9 by disabling ivy?
Regards

[2020-06-08 19:23] splincode commented on #430
yes

[2020-06-09 07:58] ishanuda opened #460 "Managing the wiki for the documentation"
Hi,
It would be great if you can move the library-related documents to the wiki in order to manage proper documentation.

**Reference:**
[Github wiki help](https://help.github.com/en/github/building-a-strong-community/about-wikis)

**Example:**
[Good example](https://github.com/angular/flex-layout/wiki)

Thank you very much.

[2020-06-09 09:08] splincode commented on #460
Unfortunately, I don’t have much free time and so far I understand that it’s easier to keep documentation in md files

[2020-06-09 12:36] ishanuda commented on #460
Closing the issue.

[2020-06-09 12:36] #460 closed

[2020-06-15 19:39] BillyGoatsOats opened #472 "Data Action Doc needs updating?"
https://github.com/ngxs-labs/data/blob/master/docs/pages/data-action.md shows that you can use payloads w/out the `@Payload` decorator but https://github.com/ngxs-labs/data/blob/master/CHANGELOG.md and recently updated examples suggest: `"now it is necessary to use the payload decorator for logging send value:"`.

_P.S._ I am converting an app w/ a lot of NgRx boilerplate to use NGXS instead. I'm

[2020-06-15 20:20] splincode commented on #472
I use it in production :)

[2020-06-15 20:22] splincode commented on #472
What do you mean about updating?

[2020-06-15 23:58] BillyGoatsOats commented on #472
The https://github.com/ngxs-labs/data/blob/master/docs/pages/data-action.md shows usages of the actions w/ payload without the `@Payload` decorator, not sure if this is deprecated or still recommended usage, but I would imagine it should be updated to specify that you should use the `@Payload` decorator.

[2020-06-16 11:55] splincode commented on #472
Send pull request please :)

[2020-06-17 00:41] BillyGoatsOats commented on #472
I opened a PR with proposed documentation updates. As a follow up I think it should be mentioned that `@DataAction()` does not automatically subscribe to returned observables in the same way that `@Action` does (according to https://www.ngxs.io/concepts/state#async-actions). I found that in the `Person` example the Observable is likely being subscribed to automatically by the resolver but in my wo

[2020-06-17 06:50] splincode commented on #472
Recommended

[code]

[code]

[2020-06-18 01:48] BillyGoatsOats commented on #472
cool I'll work with that.

[2020-06-18 01:48] #472 closed

[2020-06-18 16:53] BillyGoatsOats commented on #472
I found this method (which is what I think @splincode is recommending with `this.destroy$`) https://alligator.io/angular/takeuntil-rxjs-unsubscribe/ to be a little messy so I am going to give this package a shot: https://github.com/ngneat/until-destroy

[2020-06-21 08:24] swatiqman opened #483 "@DataAction returning observables in subscribe function of any action handlers throws a "Cannot read property 'pipe of null'"
![ngxs observable call error](https://user-images.githubusercontent.com/23726762/85220018-e7e1f400-b397-11ea-8a18-506e2e9dc631.png)

i cant seem to call any @DataAction returning observable in subscribe function of action handlers throws an error (not even through pipe with switchMap)....am i missing something?

  this.actions$.pipe(ofActionCompleted({ type: '@productStore.addProduct(product, quer

[2020-06-21 10:39] splincode commented on #483
please add repo for reproduce

[2020-06-21 12:05] swatiqman commented on #483
https://github.com/swatiqman/ngxslab_data_test

please check out the console logs for the error

[2020-06-21 17:22] swatiqman commented on #483
it seems you cant call another action in an action handler....is that supposed to be the case?
@splincode  @markwhitfeld @poloagustin

[2020-06-25 13:01] splincode commented on #430
Released in 3.0.6

[2020-06-25 13:01] #430 closed

[2020-06-28 15:45] splincode opened #488 "Angular 10"
https://github.com/ngxs/store/issues/1630

[2020-07-26 21:04] renovate[bot] opened #511 "Dependency Dashboard"
This issue provides visibility into Renovate updates and their statuses. [Learn more](https://docs.renovatebot.com/key-concepts/dashboard/)

## Pending Approval

These branches will be created by Renovate only once you click their checkbox below.

 - [ ] ci: update devDependencies (`@schematics/angular`, `core-js`, `typescript`)

## Open

These updates have all been created already. Click a checkb

[2020-08-10 16:25] ionel-fundmore opened #515 "@Computed properties are not updated when using @Debounce"
I've been playing locally with the Amount example: `https://github.com/ngxs-labs/data/tree/master/integration/app/src/examples/amount` and noticed that if I use @Debounce:

    @Debounce(3000)
    public setAmount(value: string): void {
        this.setState(parseFloat(value));
    }

in the following file: `https://github.com/ngxs-labs/data/blob/master/integration/app/src/examples/amount/amount.s

[2020-08-10 17:06] splincode commented on #515
try

[code]

[2020-08-11 08:02] ionel-fundmore commented on #515
I will try this out later today, thank you!

[2020-08-11 16:51] ionel-fundmore commented on #515
Small update: I'm still working on adding the `ChangeDetectorRef`, I'm having some issues with it so far:

`[ERROR!]  Error: Uncaught (in promise): NullInjectorError: R3InjectorError(PortalModule)[NgxsFeatureModule -> MortgageApplicationState -> ChangeDetectorRef -> ChangeDetectorRef -> ChangeDetectorRef -> ChangeDetectorRef]:
  NullInjectorError: No provider for ChangeDetectorRef!
Error: NullInje

[2020-08-11 17:36] splincode commented on #515
please create minimal reproduce in stackblitz

[2020-08-11 17:38] splincode commented on #515
don't inject `ChangeDetectorRef` in service, because `ChangeDetectorRef` exist only in components.

[2020-08-11 17:40] splincode commented on #515
So, I can create new parameter for debounce decorator:
https://github.com/ngxs-labs/data/blob/master/lib/decorators/src/debounce/debounce.ts#L16

For help you

[2020-08-12 15:58] ionel-fundmore commented on #515
I've seen that code while reviewing the library. I've also tried `{ insideZone: true }` in that direction:

[code]

but I couldn't make it work. I will create something in `stackblitz` in the following days.

Thank you for your feedback and quick responses!

[2020-08-12 16:01] splincode commented on #515
You can create pull request for new feature

[code]

[2020-08-27 04:44] ConnerEnders opened #520 "StackBlitz example broken"
StackBlitz spits out these errors on the page (probably not helpful):

[code]

[2020-08-27 07:21] splincode commented on #520
Thank you, I will fix it later

[2020-09-09 10:02] splincode opened #522 "DEPRECATED: DI is instantiating a token "" that inherits its @Injectable decorator but does not provide one itself. This will become an error in a future version of Angular. Please add @Injectable() to the "" class."
DEPRECATED: DI is instantiating a token "" that inherits its @Injectable decorator but does not provide one itself.
    This will become an error in a future version of Angular. Please add @Injectable() to the "" class.

[2020-09-09 10:21] splincode commented on #420
Release v4.0

[2020-09-09 10:21] #420 closed

[2020-09-09 10:21] splincode commented on #488
Release v4.0

[2020-09-09 10:21] #488 closed

[2020-09-09 10:21] splincode commented on #427
@ishanuda Release v4.0

[2020-09-09 10:21] #427 closed

[2020-09-09 10:48] splincode commented on #520
https://stackblitz.com/edit/ngxs-example-counter-app?file=src/app/count.state.ts

[2020-09-09 10:48] #520 closed

[2020-09-09 20:09] mflorence99 commented on #522
I noticed this error reported in the devtools console, but apparently no ill-effects.

Just a question/data point: could it be related to a bug I'm hitting in my test cases? I'm coding something like this to instantiate a state class for testing:

[code]

This generates: `TypeError: Class constructor SelectionState cannot be invoked without 'new'`

I downgrade to v3 and all works again as normal.

[2020-09-10 06:08] splincode commented on #522
No, this is not related to your example. I need to investigate this point, what has changed in the new version of Angular

[2020-09-10 11:20] mflorence99 commented on #522
Thank you for your reply and sorry to hear about the bug. Would it help if I tried to create a StackBlitz repro case?

[2020-09-16 06:00] ishanuda opened #536 "Installation and configuration documentation"
Hi,

As the library grows with more features and depends on some other libraries, I would like to suggest maintaining an Installation guide would be more useful for all the uses.

I do not see any in the NPM repo or the docs available in the library.

Also, I can help to improve the documentation if required.

Thank you very much

[2020-09-16 08:03] splincode commented on #536
PR please

[2020-09-16 14:57] ishanuda opened #538 "Setting decode/encode globally does not work"
Hi,
Setting the encoding globally does not encode with base64.
However, adding to Persistence locally works fine.

Local Configuration - Successful
[code]

Global Configuration - Not Successful
[code]

[code]
Also, note that I could only find **NGXS_DATA_STORAGE_DECODE_TYPE** instead of **NGXS_DATA_STORAGE_DECODE_TYPE_TOKEN**

![Typo Error](https://user-images.githubusercontent.com/8893919/9335352

[2020-09-16 21:19] splincode commented on #538
Maybe this is documentation typo

[2020-09-17 09:49] ishanuda commented on #538
Hi,
Have any idea about why the global setting is not working?
Is it a bug in the library?

regards

[2020-09-17 18:30] splincode commented on #538
Sorry, I am in vacation. Sorry, I am in vacation

[2020-09-24 08:02] splincode commented on #522
https://github.com/angular/angular/issues/38966

[2020-09-25 07:29] vladborsh opened #555 "No provider error for lazy loaded state"
In case when I have a lazy-loaded module with state data repository (used with NgxsModule.forFeature) and I want to manipulate this state directly it's ok. But when I try to manipulate it through middleware service (it has some additional logic on top of the state, for example) I stuck with the next issue

<img width="1174" alt="Screenshot 2020-09-25 at 10 21 07" src="https://user-images.githubuse

[2020-09-25 08:06] vladborsh commented on #555
Issue related to the dependency tree structure. It's not good practice to relate to root service in order to manipulate some lazy-loaded state

[2020-09-25 08:06] #555 closed

[2020-10-16 07:42] floinay opened #583 "Add support for @ngxs-labs/actions-executing"
Please add support for @ngxs-labs/actions-executing or custom methods for listing action handling

code example:
`@Select(actionsExecuting(this.authState.auth)) onAuth$:Observable<boolean>`

[2020-10-28 10:59] floinay opened #612 "Please Add Autosubscribe for actions like ngxs"
Please add this feature

[docs link](https://www.ngxs.io/concepts/state)

[2020-11-11 11:11] ada99 opened #618 "Entity array observable"
It would be nice to have something like this:
[code]

[2020-11-11 13:35] splincode commented on #618
@ada99 can you add PR?

Example with

https://github.com/ngxs-labs/data/blob/master/lib/repositories/src/ngxs-data-entity-collections/ngxs-data-entity-collections.repository.ts#L58

[2020-11-13 18:46] #618 closed

[2020-11-25 09:34] splincode opened #620 "--hmr Angular 11"
![image](https://user-images.githubusercontent.com/12021443/100209168-99262080-2f1a-11eb-9163-a83bf1c64879.png)

[2020-11-25 14:03] Richman08 opened #621 "ngxs-labs/data with angular11"
Hello!
Tell me please, ngxs-labs/data works with Angular 11?

[2020-11-25 14:10] splincode commented on #621
Yes, it's works

[2020-11-25 14:14] Richman08 commented on #621
Thank you.

[2020-11-25 15:17] #621 closed

[2020-11-26 16:04] mflorence99 opened #622 "State classes decorated with @Persistence() throw a TypeError when instantiated in Jest tests"
### Problem

State classes decorated with `@Persistence()` throw a `TypeError` when instantiated in Jest tests. For example, `TestBed.inject(SelectionState)` will trigger:

[code]

This behavior is new in v4 and did not occur in prior versions.

### Analysis

The stacktrace leads to code in the `@Persistence()` decorator:

[code]

This code is new in v4. It is propagated unchanged into the FESM bu

[2020-11-26 19:29] splincode commented on #622
@mflorence99 unfortunately, I have little time left and have been busy with other projects lately, if you are interested, send PR

[2021-01-24 17:59] ada99 opened #625 "Deploy"
Project CI is failing

[2021-01-25 18:15] lneninger commented on #622
Any update for this bug?

[2021-01-25 18:41] mflorence99 commented on #622
My apologies -- I had to move on before I could figure which code was responsible for generating the failing code. I satisfied myself with the following patch code that I run as a post-install step. It powers my projects https://github.com/mflorence99/lintel and https://github.com/mflorence99/ternimal.

[code]

[2021-03-03 11:49] Mumcio commented on #625
I think there is a problem with @angular-ru/common library

I tried to used the latest version of "@ngxs-labs/data": "^4.1.1"

` 1 import { Any } from '@angular-ru/common/typings';
[code]

[2021-03-20 14:04] Beef-Tech opened #629 "@Computed parameterized"
Hi,

I'm using an **NgxsDataEntityCollectionsRepository** to store multiple entities. Each entities can be grouped by some properties. For example :
**{
  currency: 'EUR',
  group: 'Program1',
  receivedAmount: 20
},
{
  currency: 'USD',
  group: 'Program1',
  receivedAmount: 5
},
{
  currency: 'EUR',
  group: 'Program2',
  receivedAmount: 15
}**
Can I simply get sum-ed **receivedAmount** for grou

[2021-03-20 21:15] Beef-Tech commented on #612
+1 please.

[2021-03-21 11:22] splincode commented on #629
Hello

[code]

[2021-03-23 08:11] Beef-Tech commented on #629
Thanks,
But if I would like to group by "program", how Can I do ?

Thanks.

[2021-03-23 09:21] gioele-antoci opened #630 "@angular-ru as a peer dependency? Why?"
I am having issues with running the persistance module

Module not found: Error: Can't resolve '@angular-ru/common/utils' in './node_modules/@ngxs-labs/data/fesm2015'

Until I noticed @angular-ru is a peer dependency: https://github.com/ngxs-labs/data/blob/master/lib/package.json#L34

Why would that be the cause? Why not official angular repositories? What am I missing? Do I actually need to insta

[2021-03-23 09:35] splincode commented on #630
Because this project will be move to `@angular-ru/ngxs-data` and deprecated `@ngxs-labs/data`

[2021-03-23 10:36] gioele-antoci commented on #630
Does this mean that I unless I intend to install @angular-ru I won't be able to use the persistence API? What's the reason to deprecate it from here?

[2021-03-23 11:57] splincode commented on #630
because this project is easiest to maintain in another repository where automatic publishing of projects is configured

[2021-03-23 14:35] splincode opened #631 "Angular not supported"
![image](https://user-images.githubusercontent.com/12021443/112163444-18441080-8bfe-11eb-8b2b-f336fd6554a3.png)

[2021-03-24 16:53] floinay opened #632 "State with @Persistence() decorator initialized with default value."
Hello, i run console.log(this.snapshot) in my action after app init, but i can see empty object. In the same time in local storage my previously saved object.

[2021-03-24 16:59] splincode commented on #632
Hello)) add stackblitz repro please

[2021-03-26 11:25] marcelpotirnac commented on #631
isn't this resolved by https://github.com/ngxs-labs/data/pull/628 ?

[2021-03-26 11:45] splincode commented on #631
@marcelpotirnac yes, but not released yet (((

[2021-03-26 12:25] splincode commented on #631
Released 4.2.0

[2021-03-26 12:25] #631 closed

[2021-03-26 12:26] splincode commented on #625
@Mumcio install peer dependency `@angular-ru/common`

[2021-03-26 12:26] splincode commented on #625
Deploy fixed

[2021-03-26 12:26] #625 closed

[2021-03-27 19:45] floinay commented on #632
Sorry, Stackblitz not working with your library(

I created github repo

https://github.com/floinay/ngxs-labs-data-stackblitz

I created simple state and added simple factory method `fetch`, before setState() i console.log state snapthot.
If APP_INIT provider exists -  first value in state prints empty object every time.

https://github.com/floinay/ngxs-labs-data-stackblitz/blob/main/src/app/app.m

[2021-03-31 18:04] floinay commented on #632
@splincode Hi, can you help me?

[2021-03-31 18:07] splincode commented on #632
blocked by https://github.com/ngxs-labs/data/pull/633

[2021-04-05 08:36] splincode commented on #632
@floinay hi, could you please upgrade to `@ngxs-labs/data@5.0.0` / `@angular-ru/common@latest` in your demo project?

[2021-04-05 12:47] floinay commented on #632
@splincode Hi, works fine, thanks very much)

[2021-04-05 13:56] splincode commented on #632
Good news)

[2021-04-05 13:56] #632 closed

[2021-04-06 10:21] floinay opened #636 "@Persistence decorator not working in feature module"
Hi, i try use state with @Persistence in feature module, but in that case storage not working, doesn't even create an entry in localstorage.

https://github.com/floinay/ngxs-labs-data-stackblitz

1. Clone this repo and run project
2. open localhost:4200
3. Open inspect panel and go to the application tab
4. Go to Local Storage page

In this app there is 2 persistence state, "test" in root module a

[2021-04-06 11:57] splincode commented on #636
@floinay yes, this is regression ((

[2021-04-13 11:52] floinay commented on #299
hi, do you have any plans for this?

[2021-04-27 06:47] ishanuda commented on #636
@floinay ,
I see few things that should be corrected according to the doc.

1. set state - `this.setState({featureKey1: 'test', key2: 'test1'});` should be `this.ctx.setState({featureKey1: 'test', key2: 'test1'});`
2. `@DataAction()` should be used with the `fetch(): void {}` method

NOTE: `DataAction `can be imported from `'@ngxs-labs/data/decorators';
`
Please try these settings.

regards.

[2021-04-27 07:14] floinay commented on #636
Hi, i tried, not working

[2021-04-27 07:16] splincode commented on #636
@floinay can you help me? create bugfix with PR?

[2021-05-07 07:59] oglezglez commented on #630
You are using this dependency mainly for types definition... as far I see, there is no reason to not use official Angular repositories... and it's not documented... and why?
Do you think it could be fixed?

[2021-05-07 08:42] splincode commented on #630
@oglezglez me and my team are working to improve the shared library (`@angular-ru/common`)

in the future this package will be moved and delivered this way

[code]

[2021-05-16 08:44] MohannedElfatih opened #646 "Angular 12 support?"
Am getting such errors when using angular 12

[2021-05-21 14:19] krtek4 opened #647 "removeAll resets the state to its initial value instead of removing all entities"
From the documentation :

But if we look at the code :

[code]

My understanding is that "Remove all entities from the state" will only clear the `entities` attribute of the state and not reset the state to its initial value.

Also, this is misleading if the initialState contains entities, `removeAll` would then "leave" entities in the state.

[2021-05-22 18:01] splincode commented on #646
In next week I will update this package for Angular 12

[2021-05-22 18:07] splincode commented on #647
we can add breaking changes

[2021-05-22 18:14] krtek4 commented on #647
you probably mean "can't add" ;)

But you can update the documentation to explain the the real behaviour.

[2021-06-10 06:46] ivanblazevic commented on #630
I am not planning to install some strange Russian fork of Angular into my project just for the purpose of having this plugin - after seeing this and the direction where it is going and the though process of its maintainers for me this is clear sign to removing this library from my project and switching back either to ngrx or some alternative.

[2021-06-10 08:52] splincode commented on #630
@ivanblazevic up to you))

NGXS Labs is group for experimental projects, but it is my own project)) and `data-plugin` has nothing to do with the NGXS core and is supported by me personally

[2021-06-29 12:35] strigefleur opened #663 "pushStateToStorage errors"
Having
[code]
where `InitStates` is array containing some states.

Gives me multiple `prop is null` errors on `pushStateToStorage` function line
`const prevData = getValue(states, ensurePath(provider));`
on page load/refresh.

![изображение](https://user-images.githubusercontent.com/20131398/123797461-ddcdcc00-d8ee-11eb-9c17-c1707222d9fd.png)

[2021-06-29 12:56] splincode commented on #663
please provide github repo for reproduce

[2021-06-29 20:46] strigefleur commented on #663
It appears that
[code]
is not the same as
[code]

Using case 1 I got the errors mentioned, case 2 gives no errors.
I'm still confused since I can't reproduce it on a clean project.

[2021-07-02 15:47] #663 closed

[2021-07-05 18:46] strigefleur commented on #636
Any updates? It's kinda problematic to use it without feature modules.

[2021-07-05 19:44] vutukuriajay2241 commented on #646
I am also facing this error. When this will be resolved?

Error: node_modules/@ngxs-labs/data/internals/services/ngxs-data-computed-stream.service.d.ts:13:22 - error TS2724:  has no exported member named 'ɵɵInjectableDef'. Did you mean 'ɵgetInjectableDef'?
static ɵprov: i0.ɵɵInjectableDef<NgxsDataSequence>;

Error: node_modules/@ngxs-labs/data/internals/services/ngxs-data-factory.service.d.ts:18:2

[2021-07-06 06:19] splincode commented on #646
@vutukuriajay2241 please create minimal github repository for reproduce

[2021-07-06 12:21] vutukuriajay2241 commented on #646
Didn’t get you

[2021-07-06 12:23] splincode commented on #646
I don't have problem with install last package version, if you have a problem with your project, should be get simple example for reproduce

[2021-07-06 14:03] vutukuriajay2241 commented on #646
Thanks working well

[2021-09-05 14:23] splincode commented on #647
Move to
https://github.com/Angular-RU/angular-ru-sdk/issues/861

[2021-09-05 14:23] #647 closed

[2021-09-05 14:23] #646 closed

[2021-09-05 14:24] splincode commented on #636
Move to https://github.com/Angular-RU/angular-ru-sdk/issues/862

[2021-09-05 14:24] #636 closed

[2021-09-05 14:25] #630 closed

[2021-09-05 14:25] splincode commented on #630
[code]

[2021-09-05 14:26] splincode commented on #636
Move to https://github.com/Angular-RU/angular-ru-sdk/issues/863

[2021-09-05 14:26] splincode commented on #629
Move to https://github.com/Angular-RU/angular-ru-sdk/issues/863

[2021-09-05 14:26] #629 closed

[2021-09-05 14:26] #97 closed

[2021-09-05 14:27] splincode commented on #299
Move to https://github.com/Angular-RU/angular-ru-sdk/issues/864

[2021-09-05 14:27] #299 closed

[2021-09-05 14:27] #326 closed

[2021-09-05 14:28] #393 closed

[2021-09-05 14:28] splincode commented on #405
Move to https://github.com/Angular-RU/angular-ru-sdk/issues/865

[2021-09-05 14:28] #405 closed

[2021-09-05 14:28] #406 closed

[2021-09-05 14:28] #324 closed

[2021-09-05 14:30] splincode commented on #483
Move to https://github.com/Angular-RU/angular-ru-sdk/issues/866

[2021-09-05 14:30] #483 closed

[2021-09-05 14:30] #583 closed

[2021-09-05 14:30] splincode commented on #612
Move to https://github.com/Angular-RU/angular-ru-sdk/issues/867

[2021-09-05 14:30] #612 closed

[2021-09-05 14:31] splincode commented on #515
Move to https://github.com/Angular-RU/angular-ru-sdk/issues/868

[2021-09-05 14:31] #515 closed

[2021-09-05 14:31] #622 closed

[2021-09-05 14:31] #620 closed

[2021-09-05 14:31] #536 closed

[2021-09-05 14:32] splincode commented on #538
Move to https://github.com/Angular-RU/angular-ru-sdk/issues/869

[2021-09-05 14:32] #538 closed

[2021-09-05 14:32] #522 closed